
body {
    font-size: 14px;
    color: black;
    background-color: #525252;
    margin: 20px;
    padding: 0;
}

p {
	color: #00D500;  
	padding-left: 100px;
	padding-bottom: 20px;
	font-size: 1.9em;
}

h1 {
	border-style: groove;
	border-width: 5px;
	border-left-width: 5px;
	border-right-width: 5px;
	border-color: #3ABB03;
	font-size: 2.6em;
	background-color: #20271D;
	color: #2D9700;
	padding-left: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
}

h2{
	font-size: 2.6em;
	color: #409B00;
	padding-left: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
}

img {
	padding-left: 450px;
	padding-bottom: 30px;
}

nav ul {
	margin: 10px;
	padding: 10px;
	width: 230px;
	background-color: #C0CAC6;
}

nav ul li a{
	display: block;
	text-decoration: none;
	color: #4F5F58;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 6px;
	font-size: 2.6em;
}


nav ul li a:hover {
	background-color: #00B96A;
	color: #007040;
 }
 
 